<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apple Store</title>
</head>
<body>
    <div class="container">

        <div class="header">
            <h1>Loja da Apple</h1>
        </div>


        <div class="nav">
            <a href="">Recarregar</a>
            <a href="">Saque</a>
            <a href="/contato">Suporte</a>
        </div>

        <div class="card-container">
            <!-- Card 1 -->
            <div class="card">
                <h2>iPhone 14</h2>
                <img src="https://via.placeholder.com/300x200" alt="iPhone 16 Pro">
                <div class="card-content">
                    <p>Feito para Apple Intelligence</p>
                    <button>Investir R$ 10.499</button>
                </div>
                
            </div>
            <!-- Card 2 -->
            <div class="card">
                <h2>Iphone 15</h2>
                <img src="https://via.placeholder.com/300x200" alt="Apple Watch Series 10">
                <div class="card-content">
                    <p>Feito para Apple Intelligence</p>
                    <button>Investir R$ 10.499</button>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="card">
                <h2>Iphone 16</h2>
                <img src="https://via.placeholder.com/300x200" alt="iPad mini">
                <div class="card-content">
                    <p>Feito para Apple Intelligence</p>
                    <button>Investir R$ 10.499</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
